<!doctype html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uploads</title>
    <link href="{{ url_for('static', filename='html_materials/css/bootstrap.min.css') }}" rel="stylesheet">

    <script type="text/js" src="{{ url_for('static', filename='html_materials/js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/js" src="{{ url_for('static', filename='html_materials/js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">// <![CDATA[
	jQuery(document).ready(function(){
		jQuery('.spoiler-text').hide()
		jQuery('.spoiler').click(function(){
			jQuery(this).toggleClass("folded").toggleClass("unfolded").next().slideToggle()
		})
	})
// ]]></script>
</head>

{% if args["method"] == "GET" %}
	<h1>Конструктор графиков</h1>
	<form action="/graphics/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Загрузить</button>
    </form>
{% endif %}

{% if args["method"] == "POST" %}
    {% if args["too_big"] %}
        <h2>Слишком большой файл (> 1МБ)</h2>
        Текущий размер файла: {{ args["size"] }}МБ
        <form method="get">
            <input type="submit" value="Вернуться на страницу загрузки файла" />
        </form>
    {% else %}
        <h2>Файл успешно загружен</h2>
        Имя файла: {{ args["data_name"] }} <br>
        Размер файла: {{ args["size"] }}МБ
    {% endif %}
{% endif %}


</body>
</html>