{% extends "core.html" %}

{% block title %}
    График
{% endblock %}

{% block js_scripts %}
    <script src="{{ url_for('static', filename='js/on_click_eventer.js') }}"></script>
{% endblock %}

{% block content_body %}

    <div class="row">
        <h1>Построенный график</h1>
    </div>

    <div class="row">
    <div class="col-md-4">
        <form method="post"  style="padding-left: 20px;">
          <p>Цветовая гамма:</p>
              {% for cmap in args["colorlist"] %}
                  <div>
                    {% if cmap.flag %}
                        <input type="radio" id="Choice+{{ cmap.color }}"
                        name="colormap" value="{{ cmap.color }}" checked>
                    {% else %}
                        <input type="radio" id="Choice+{{ cmap.color }}"
                        name="colormap" value="{{ cmap.color }}">
                    {% endif %}
                    <label for="Choice+{{ cmap.color }}">{{ cmap.color }}</label><br>
                  </div>
              {% endfor %}
          <div>
                <input type="hidden" name="filename" value="{{ args["filename"] }}"/>
                <button type="submit">Перерисовать</button>
          </div>
        </form>
        </div>
        <div class="col-md-8">
            <div class="row"><img src="{{args["image_path"] + args['image']}}" /></div>
            <div class="row">
                <table class="table">
                <thead>
                  <tr>
                      <th>X</th>
                      <th>Y</th>
                      <th>Z</th>
                  </tr>
                </thead>
                <tbody>
                {% if not args["table"] == ""%}
                    {% for item in args["table"][:15] %}
                        <tr>
                            <th>{{ item.x }}</th>
                            <th>{{ item.y }}</th>
                            <th>{{ item.z }}</th>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
            </div>
        </div>
    </div>

{% endblock %}